.body-container {
    max-width: 100%;
    margin: 0 auto; /* Center align the content */
    padding: 0 20px; /* Optional padding for better readability */
}
.correlation-image{
    height: 480px;
    width: 640px;
}

.encoded-columns-container {
    overflow-x: auto;
    white-space: nowrap;
}

.encoded-columns-list {
    width: fit-content; /* Adjust this as needed */
}

