/* src/Sidebar.css */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 10px 0px 10px 0px;
  padding-top: 56px; /* Adjusted for the header height */
  z-index: 1000; /* Ensure it is above the header */
  transition: width 0.3s, margin-left 0.3s; /* Update transition properties */
  overflow: hidden; /* Ensure content is hidden when collapsed */
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar .btn {
  width: calc(100% - 20px);
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border: none;
  z-index: 1100; /* Ensure button is above other elements */
}

.sidebar .btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.nav-pills {
  margin-top: 50px; /* To ensure links are below the button */
}

.nav-pills.hide-text .nav-link {
  display: none;
}

.nav-link {
  padding: 8px;
  text-align: center;
  color: white; /* Ensure text is visible on black background */
}

.nav-link:hover {
  background-color: #333; /* Slightly lighter shade for hover effect */
  color: white;
}
